html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td{border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent; margin:0; padding:0}
article, aside, canvas, figure, figure img, figcaption, hgroup, footer, header, nav, section, audio, video{display:block}
ul, li, ol{list-style:none; background:transparent}
h1, h2, h3, h4, h5, h6{font-weight:400; clear:both}
a, a:hover{text-decoration:none}
html body div.clear, html body span.clear{background:none; border:0; clear:both; display:block; float:none; font-size:0; overflow:hidden; visibility:hidden; width:0; height:0; margin:0; padding:0}
blockquote{quotes:none}
blockquote:before, blockquote:after, q:before, q:after{content:none}
table{border-collapse:collapse; border-spacing:0}
input[type="submit"]:focus, input[type="button"]:focus{outline:none}
:focus{outline:0}
a img, input[type="submit"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner{border:0}
body{width:100%;-webkit-text-size-adjust:none;background:url(images/bg.png) #F5F5F5 fixed;font-family:微软雅黑, Arial, sans-serif;font-size:12px}
@font-face{font-family:'sumiro';src: url('font/quattrocento.eot');src: url('font/quattrocento.eot?#iefix') format('embedded-opentype'),url('font/quattrocento.woff') format('woff'),url('font/quattrocento.ttf') format('truetype'),url('font/quattrocento.svg#sumiro') format('svg');font-weight: normal;font-style: normal;}
::selection{background:#666666;color:#fff;text-shadow:none}
::-moz-selection{background:#666666;color:#fff;text-shadow:none}
a{-moz-transition:color 0.3s linear;-webkit-transition:color 0.3s linear}
p{margin:15px 0}
.left{float:left}
.right{float:right}
div#wrap, div#footer{width:622px;margin:0 auto;position:relative}
div#mainframe{font-size:12px;color:#555555;line-height:22px;letter-spacing:1px;text-shadow:1px 1px 0 #FFF;}
div#mainframe{width:592px;height:auto;background:url(images/mianbg.png) repeat-y;padding:80px 0 0 30px}
div#mainframe img{max-width:590px;height:auto}
div#mainframe a{color:#333333}
article[sum="post"]{width:590px;}
div.titlebg{width:625px;height:7px;background:url(images/titlebg.png) no-repeat;margin-left:-33px;margin-bottom:18px}
section[sum="posttitle"] h2{line-height:20px}
section[sum="posttitle"] h2 a{color:#333333;font-size:15px;font-weight:600;text-transform:uppercase}
div.postsep{margin:30px 0;height:1px}
.more-link{float:right;display:none}
header[sum="top"]{position:relative;height:90px;margin-top:70px}
div.logo{width:90px;height:90px;float:left;margin-left:-44px;margin-right:47px;}
nav[sum="menu"]{background:url(images/navbg.png) no-repeat;width:575px;height:34px;margin-left:47px;padding:28px 0}
nav[sum="menu"] ul{float:left;margin-top:12px;font-size:13px;margin-left:30px}
nav[sum="menu"] li{float:left; display:block;margin-right:33px;}
nav[sum="menu"] li a{float:left;display:block;color:#555555}
nav[sum="menu"] li a:hover{color:#333333;}
nav[sum="menu"] li.current-menu-item a{color:#333333;font-weight:600}
footer[sum="footer"]{height:160px;background:url(images/footerbg.png) no-repeat;padding-left:30px;padding-top:7px;text-shadow:1px 1px 0 #FFF;}
footer[sum="footer"], footer[sum="footer"] a{font-size:12px;color:#b5b5b5;letter-spacing:1px;}
div.rights, div.themeby, div.whattheme{float:left;}
div.themeby{margin:0 10px}
nav[sum="pagenav"]{overflow:hidden;font-size:13px;letter-spacing:0;margin:60px 0 5px 0;}
nav[sum="pagenav"] a {color:#555555;}
.current{color:#333333;margin:0 8px 0 8px;font-weight:600}
.pagenav_numbers {padding:0 8px;}
.pagenav_numbers:hover {color:#333333;}
section[sum="singleinfo"]{margin-top:65px;line-height:18px}
section[sum="singleinfo"] a{color:#555555}
div.posttags{float:left;}
div.pagetitle{color:#333333;font-size:15px;font-weight:600;text-transform:uppercase;}
.acrchivecat, .acrchivetag{color:#333333;font-size:14px;font-weight:600;text-transform:uppercase}
.acrchivecatdec p{margin:10px 0}